@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  
  /* ★ font-font-kiwi になっていた部分を、正しい変数名（--font-kiwi）に修正！ */
  font-family: var(--font-pangolin), var(--font-kiwi), sans-serif;
  
  letter-spacing: 0.05em; 
  line-height: 1.7;       
}